@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

* {
  color: white;
  font-family: 'Alata', sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* logo */

.logo-container {
  width: 30svw;
  position: absolute;
  margin-top: 1rem;
  margin-left: 5rem;
}

.logo-container img {
  width: 100%;
  height: auto;
  background: none;
}

.logo {
  background-color: none;
}

/* navigation menu */
.top-nav-menu {
  text-transform: uppercase;
  font-size: 2rem;
  margin-top: 6rem;
  margin-right: 5rem;
  background: none;
  position: absolute;
  right: 0;
  top: 0;
}

.top-nav {
  margin: 1rem;
  text-decoration: none;
  background: none;
}

.top-nav:hover {
  color: orange;
  text-decoration: underline;
}

/* hamburger menu */

#hamburger-nav {
  display: none;
  position: absolute;
  top: 5rem;
  right: 5rem;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 30px;
  width: 36px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 3px;
  background-color: white;
}

.menu-links {
  display: flex;
  flex-direction: column;
  background-color: black;
  max-height: 0;
  overflow: hidden;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: start;
  font-size: 1.7rem;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.menu-links a:hover {
  color: orange;
  text-decoration: underline;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

/* main pic */
.sec-1 {
  background-image: url('./public/assets/images/main.avif');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  width: 100vw;
  height: 100vh;
}

/* about section */

.sec-2 {
  background-color: rgb(55, 55, 55);
  height: 100svh;
}

.about-parent {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.about-div1 {
  grid-area: 1 / 1 / 2 / 2;
  background-image: url('./public/assets/images/about.avif');
  background-size: cover;
  background-position: 50%;
  height: 100svh;
}
.about-div2 {
  grid-area: 1 / 2 / 2 / 3;
  padding: 3rem;
  text-align: justify;
}

h2 {
  text-transform: uppercase;
}

/* CUSTOMER REVIEW SECTION */

#customerReview {
  height: 40svh;
  background-color: rgb(55, 55, 55);
  text-align: center;
}

#reviewDiv {
  display: flex;
  justify-content: space-evenly;
}
#reviewFormDiv {
  padding: 0 15rem;
}

#reviewForm {
  display: flex;
  flex-direction: column;
  min-width: 20svw;
}

#reviewForm input,
textarea {
  color: rgb(112, 112, 112);
  margin: 0.5rem 0;
  font-size: 1.2rem;
  padding: 5px;
}

#getReviewsDiv {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  max-width: 40rem;
  text-align: center;
}

.dbReviewDiv {
  border: #ffc700 solid 2px;
  border-radius: 1rem;
  padding: 0.2rem 0.5rem;
  min-width: 7svw;
}

.reviewName {
  text-decoration: underline;
  letter-spacing: 2px;
}

.dateTxt {
  font-size: 0.9rem;
}

.reviewMsg {
  max-width: 15rem;
}

.reviewRating {
  color: #ffc700;
}

.reviewRating::before {
  content: '★';
}

/* STAR CSS CODE */

.rate {
  /* float: left; */
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  height: 46px;
  padding: 0 10px;
}
.rate:not(:checked) > input {
  position: absolute;
  left: -9999px;
}
.rate:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 30px;
  color: #ccc;
}
.rate:not(:checked) > label:before {
  content: '★ ';
}
.rate > input:checked ~ label {
  color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}

/* menu section */

.carousel-container {
  position: relative;
  width: 100svw;
  height: 100svh;
  overflow: hidden;
}

.carousel-image {
  display: none;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}

.nav_button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100px;
  height: 100px;
  background: none;
  border: none;
  cursor: pointer;
  overflow: hidden;
  margin: 5%;
}

.previous {
  left: 0;
}

.next {
  right: 0;
}

.nav_button img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* booking section */

.sec-4 {
  background-color: rgb(55, 55, 55);
  background-image: url('./public/assets/images/grill.avif');
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  height: 56svh;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.title-booking {
  margin-left: 5rem;
  margin-top: 2rem;
  color: black;
  font-size: 2rem;
}

.booking-form {
  display: flex;
  flex-direction: column;
  width: 30svw;
  margin-left: 5rem;
  margin-top: 2rem;
}

.booking-input {
  font-size: 1.2rem;
  padding: 5px;
}

input,
select {
  color: rgb(112, 112, 112);
}

input::placeholder {
  color: rgb(112, 112, 112);
}

option {
  color: rgb(112, 112, 112);
}

.booking-submit {
  width: 150px;
  color: black;
  padding: 5px;
  background: rgb(191, 191, 191);
  border: none;
  border-radius: 5px;
  margin-top: 20px;
}

.booking-submit:hover {
  color: white;
  background-color: rgb(162, 162, 162);
}

.booking-reserve {
  width: 400px;
  justify-content: center;
}

.sec-4 p {
  font-size: 1.5rem;
  width: 100%;
  margin-top: 30%;
}

.sec-4 img {
  width: 100%;
  margin-top: 1rem;
}

/* confirmation notice */

.notice-div {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  z-index: 999;
  width: 70%;
  max-width: 400px;
}

.notice-div p {
  color: black;
  margin-top: 10px;
  text-align: center;
}

.close-button {
  width: 150px;
  color: black;
  padding: 5px;
  background: rgb(191, 191, 191);
  border: none;
  border-radius: 5px;
  margin-top: 20px;
}

.close-button:hover {
  color: black;
  background-color: rgb(162, 162, 162);
}

/* footer section */

footer {
  padding-top: 2rem;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  background-color: black;
  height: 50svh;
  margin: 0;
  border-top: rgb(225, 225, 225) solid 2px;
  padding: 10px;
}

footer p {
  position: absolute;
  margin-top: 150px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background: none;
  color: black;
  font-size: 0.7rem;
}

.footerHeaders {
  text-decoration: underline;
  text-underline-offset: 0.3rem;
  margin-bottom: 1rem;
  font-size: 1rem;
}

footer img {
  display: block;
  margin: 0;
}

.flames {
  height: 20svh;
}

#flameDiv {
  position: absolute;
  bottom: 0;
}

#flameDiv p {
  top: -10px;
  font-weight: bold;
}

#footerDetails {
  display: flex;
  justify-content: space-around;
  gap: 3rem;
}

.footerTxt h3 {
  margin-top: 0.5rem;
}

footer a {
  font-size: 1rem;
  text-decoration: none;
}

footer a:hover {
  color: orange;
  text-decoration: underline;
}

#maps {
  position: relative;
  border-radius: 1rem;
  height: 250px;
  width: 450px;
  margin-top: 30px;
  border-radius: 1rem;
  border: 3px solid white;
  margin-bottom: 1rem;
}

.visually_hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

@media (max-width: 1150px) {
  .sec-1 {
    background-position: 70%;
  }

  .about-div2 {
    padding: 1.5rem;
  }
  .about-div2 h2 {
    font-size: 1rem;
  }

  .top-nav-menu {
    display: none;
  }

  #hamburger-nav {
    display: flex;
    flex-direction: row-reverse;
  }

  .hamburger-menu {
    flex-direction: column;
  }

  .menu-links {
    top: 0;
    right: 0;
  }

  .sec-4 {
    display: block;
    background-color: black;
    background-size: cover;
  }

  .sec-4 p {
    display: none;
  }

  .booking-form {
    display: flex;
    flex-direction: column;
    width: 80svw;
    margin-left: 10%;
    margin-top: 2rem;
  }

  .footerHeaders {
    text-decoration: underline;
    text-underline-offset: 0.3rem;
    margin-bottom: 0.1rem;
    font-size: 0.8rem;
  }

  footer a {
    font-size: 0.7rem;
    text-decoration: none;
  }

  footer {
    padding-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    margin: 0;
    padding: 10px;
  }

  #footerDetails {
    gap: 3rem;
    flex-direction: column;
  }

  #flameDiv {
    position: relative;
    bottom: 0;
    margin-left: 20%;
    margin-right: 20%;
  }

  #flameDiv p {
    top: -10px;
    font-weight: bold;
  }

  footer a {
    font-size: 0.5rem;
    text-decoration: none;
    margin: 0;
  }

  .footerTxt h3 {
    padding: 0;
    margin: 0;
    font-size: 10px;
  }

  /* REVIEW SECTION */

  #reviewDiv {
    height: 90%;
  }

  #reviewFormDiv {
    padding: 0 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #reviewForm input,
  textarea,
  button,
  h3 {
    font-size: 1.75rem;
    padding: 0.5rem 1rem;
  }

  .rate {
    height: 60px;
  }

  .rate:not(:checked) > label {
    font-size: 50px;
  }

  #getReviewsDiv {
    flex-direction: column;
    align-items: normal;
  }

  .dbReviewDiv {
    font-size: 1.5rem;
  }
}

@media (max-width: 920px) {
  .about-parent {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .about-div1 {
    grid-area: 1 / 1 / 2 / 2;
    height: 40svh;
  }
  .about-div2 {
    grid-area: 2 / 1 / 3 / 2;
    padding: 20px;
  }
}

@media (max-width: 640px) {
  .about-div1 {
    height: 40svh;
  }

  .about-div2 p {
    font-size: smaller;
  }

  .booking-form {
    margin-right: 10%;
    margin-top: 1.8rem;
  }

  .title-booking {
    margin-left: 10%;
    margin-top: 10%;
    color: black;
    font-size: 1.6rem;
  }

  #flameDiv {
    position: relative;
    bottom: 0;
    margin-left: 10%;
    margin-right: 10%;
  }

  #maps {
    position: relative;
    border-radius: 1rem;
    width: 350px;
    margin-top: 30px;
    border-radius: 1rem;
    border: 3px solid white;
    margin-bottom: 1rem;
  }

  #customerReview {
    height: 120svh;
  }

  #reviewDiv {
    flex-direction: column;
  }
}
